@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");


.carousel-item {
  height: 100vh;
  width: 100vw;
  background: #212121;
}

.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
}

.carousel-item.active,
.carousel-item-left,
.carousel-item-right {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel-item h1 {
    color: #fff;
    font-size: 72px;
    padding: 0 10%;
 }

 .fade {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
    animation-fill-mode: forwards;
}
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
};

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;

}

.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    color: #ffffff;
}

.textpos {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
	font-weight: 300;
    position: fixed;
    top: 50%; 
    left: 20% !important;
    transform: translate(-50%, -50%);
    max-width: 30%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media only screen and (max-width: 600px){
	.textpos {
		max-width: 100%;
		top:50%;
		left:50% !important;
	}
}
@media only screen and (max-width: 600px){
	.textpos h1 {
	font-size: 3.5rem;
	}
}
